$main-font: 'DM Sans', sans-serif;
$button-color: #00BA91;
$color-form: #021B51;
$header-color: #0B27FA;

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}

.btn {
    color: $color-form;
    font-weight: bold;
    background-color: $button-color;
    min-width: 11.063rem;
    min-height: 2.5rem;
    border: none;
    border-radius: 6px;
}


@media screen and (min-width: 50em) {

    header {
        background-color: $header-color;
        display: flex;

        .container{
            display: block;
            width: 45%;
            padding: 5% 0 5% 10%;
            h2 {
                color: $button-color
            }
            img {
                width: 10.625rem;
                height: 1.875rem;
            }
            h1 {
                font-size: 2.5rem;
                font-weight: bold;
                color: #fff;
            }
        }
    }

    main {
        display: flex; 
        
        .text-principal {
            flex-wrap: wrap;
            padding: 5em 9em 0 9em;
            font-size: 1.125rem;
            display: block;
            width: 100%;
            line-height: 2.5rem;
            span {
                font-weight: bold;
                color: $header-color;
            }
        }
        .form {
            width: 100%;
            padding: 5em 9em 0 9em;
            color: $color-form;
            font-weight: bold;
            line-height: 2rem;

            h3 {
                font-size: 1.75rem;
                color: $color-form;
                font-weight: bold;
            }
            input {
                width: 100%;
                height: 40px;
                padding-left: 10px;
                border: 1px solid $color-form;
                border-radius: 6px;
            }
            select {
                width: 100%;
                height: 40px;
                padding-left: 10px;
                border: 1px solid $color-form;
                border-radius: 6px;
            }
            .btn {
                float: right;
            }
        }
    }

    footer {
        display: flex;
        justify-content: space-around;
        padding: 2em 9em 9em 9em;
        width: 50%;
        img {
            width: 2rem;
            height: 2rem;
        }
        p {
            color: $color-form;
        }
        
    }

    }

@media screen and (max-width: 50em) {

    header {
        padding: 27px;
        background-color: $header-color;
    
        .container{
            display: block;
            padding-left: 0.625em;

            h2 {
                color: $button-color
            }
            img {
                display: block;
                margin: 0 auto 0 auto;
                width: 10.625rem;
                height: 1.875rem;
            }
            h1 {
                font-size: 2.25rem;
                font-weight: bold;
                color: #fff;
            }
        }
    }
    
    main {
        .text-principal {
            padding: 27px;
            font-size: 1.125rem;
            display: block;
            width: 100%;
            line-height: 2.5rem;
            span {
                font-weight: bold;
                color: $header-color;
            }
        }
        .form {
            width: 100%;
            padding: 27px;
            color: $color-form;
            font-weight: bold;
            line-height: 2rem;
            h3 {
                font-size: 1.75rem;
                color: $color-form;
                font-weight: bold;
            }
            input {
                width: 100%;
                height: 40px;
                padding-left: 10px;
                border: 1px solid $color-form;
                border-radius: 6px;
            }
            select {
                width: 100%;
                height: 40px;
                padding-left: 10px;
                border: 1px solid $color-form;
                border-radius: 6px;
            }
                .btn {
                    float: right;
                }
            }
        }
    
    footer {
        position: relative;
        padding: 5% 0 5% 10%;
        img {
            position: absolute;
            bottom: 20px;
            width: 2rem;
            height: 2rem;
        }
        p {
            color: $color-form;
            position: absolute;
            padding: 6% 0 10% 0;
        }
        .btn  {
            display: none;
        }
            
    }
  }
